
.chosen-drop ul{
 height: 200px !important;
}



.btn-xsm{
    padding: 0px 4px;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    margin: 5px 0px;
}

.hide, .hide *{
    visibility: hidden;
}

.no-display{
    display: none;
}




@media print
{
    body * {
        visibility: hidden;
    }

    .section-to-no-print {
        visibility: hidden !important;
    }

    .cut-section-h1-to-print{
        position: absolute;
        top: 0;
        left: 170px;
        visibility: visible;
    }

    .cut-section-bldg-to-print{
        position: absolute;
        top: 42px;
        left: 190px;
        visibility: visible;
    }

    .cut-section-start-to-print{
        position: absolute;
        top: 40px;
        left: 245px;
        visibility: visible;
    }

    .cut-section-end-to-print{
        position: absolute;
        top: 40px;
        left: 395px;
        visibility: visible;
    }

    #cut_section-to-print, #cut_section-to-print * {
        visibility: visible;
    }
    #cut_section-to-print {
        position: absolute;
        top: 50px;
        left: 0;
    }
}




