/*#cutForm ul {*/

/*    display: block;*/
/*    height: 38px;*/
/*    border: 1px solid lightgrey;*/
/*    border-radius: 5px;*/
/*    background-image: none !important;*/
/*    overflow: auto;*/
/*    padding: 4px;*/
/*!*}*!apply by .chosen-container-multi .chosen-choices*/


/*#cutForm ul li input {*/

/*    padding: 0px 0px 0px 8px;*/
/*    font-size: 1.19em;*/

/*!*}*!apply by .chosen-container-multi .chosen-choices*/



#cutForm .container-one{
    min-height: 700px;

}
/*#cutForm .container-one .row-one{*/

/*    background-color: lightgoldenrodyellow;*/

/*}*/

#cutForm .container-one .row-one{
    height: 300px;
    /*background-color: lightblue;*/
    border-bottom: 1px solid #999;

}

#cutForm .container-one .row-one div.form-group{
    width: 50%;
    padding: 8px;
}

#cutForm .container-one .row-two{
    height: 350px;

    border-bottom: 1px solid #999;
}

#cutForm .container-one .row-two div.form-group{
    width: 50%;
    padding: 8px;

}

#cutForm .container-one .row-three{
    height: 300px;


}

#cutForm .container-one .row-three div.form-group{
    width: 50%;
    padding: 8px;

}
