
.chosen-drop ul{
 height: 200px !important;
}



.btn-xsm{
    padding: 0px 4px;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    margin: 5px 0px;
}

.hide, .hide *{
    visibility: hidden;
}

.no-display{
    display: none;
}

#row-carton-header h6{
    font-size: 12px;
}
#row-carton-header .row h6:nth-child(2){
    /*text-decoration: underline;*/
}

.co-create-table th{
    font-size:13px;
    padding: 1px;

}
.co-create-table td{
    font-size:10px;
    padding: 1px;

}

@media print
{

    #row-carton-header h6{
        font-size: 7px;
        line-height: 7px;
        padding: 0;
    }
    #row-carton-header .row h6:nth-child(2){
        /*text-decoration: underline;*/
    }
    .ctn-instruction{
        font-size: 7px;
        line-height: 7px;
    }
    .ctn-instruction-value{
        padding: 0;
        font-size: 7px;
        line-height: 7px;
    }
    .co-create-table th{
        font-size:6px;  line-height: 8px;
        padding: 0;

    }
    .co-create-table td{
        font-size:6px;
        line-height: 8px;
        padding: 0;

    }
    .ctn-remarks{
        font-size: 9px;
        line-height: 9px;
    }

    .ctn-notes h6, .ctn-notes p {
        font-size: 9px;
        line-height: 9px;
    }

    .ctn-sign h6 b, .ctn-sign p,.ctn-sign h6 {
        font-size: 8px;
        line-height: 8px;
    }

    @page{
        margin: 0;
    }

    body * {
        visibility: hidden;
    }


    nav, nav * {
        display: none;
    }

    /*for main padding*/
    .cstyle{
        padding: 0 !important;
    }

    /*others no need in print*/
    .print-hide{
        display: none;
    }

    .section-to-no-print {
        visibility: hidden !important;
    }

    .section-to-no-print, .section-to-no-print * {
        visibility: hidden !important;
    }

    .section-pl-to-no-print, .section-pl-to-no-print * {
        display: none!important;
    }

    .section-no-print-none{
        display: none;
    }

    .cut-section-h1-to-print{
        position: absolute;
        top: 0;
        left: 170px;
        visibility: visible;
    }

    .cut-section-bldg-to-print{
        position: absolute;
        top: 42px;
        left: 190px;
        visibility: visible;
    }

    .cut-section-start-to-print{
        position: absolute;
        top: 40px;
        left: 245px;
        visibility: visible;
    }

    .cut-section-end-to-print{
        position: absolute;
        top: 40px;
        left: 395px;
        visibility: visible;
    }

    #cut_section-to-print, #cut_section-to-print * {
        visibility: visible;
    }
    #cut_section-to-print {
        position: absolute;
        top: 50px;
        left: 0;
    }

    .pl_section-to-print, .pl_section-to-print *{
        visibility: visible;
        margin: 0;
        zoom: 93%;

    }

    .pagebreak {
        page-break-before: always;
    }

    .section-to-print, .section-to-print *{
        visibility: visible;
        margin: 0;
    }


}



